<div class="container">

  <form class="form-signin">
  <h1>Log In</h1>
  <%= form_for :login do |f| %>
    <h2 class="form-signin-heading" "centered">Please sign in</h2>
			<div>
	        <%= f.label :email %>
	        <%= f.text_field :email %>
	    </div>

	    <div>
	        <%= f.label :password %>
	        <%= f.password_field :password %>
	    </div>

	    <!-- Check box to remember user -->
	    <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
    	</div>
    	<%= f.submit "Log in now!", class: "btn btn-lg btn-custom btn-block" %>
  </form>    

<% end %>

</div> <!-- /container -->
