<div class="row">
	<div class="col-md-8 col-md-offset-3" >
		<h1>Edit your profile</h1>

			<%= form_for @user do |f| %>
			  <div>
			    <%= f.label :name %>
			    <%= f.text_field :name %>
			  </div>
			  <div>
			    <%= f.label :email %>
			    <%= f.text_field :email %>
			  </div>
			  <div>
			    <%= f.label :password %>
			    <%= f.password_field :password %>
			  </div>
			  <div>
			    <%= f.label :password_confirmation %>
			    <%= f.password_field :password_confirmation %>
			  </div>
			  <div>
			    <%= f.submit "Update Profile", :class => "btn btn-custom col-md-2"%>
			  </div>
			<% end %>

			</div>
		</div>
	</div>
</div>