<div class="row">
	<div class="col-md-10 col-md-offset-2" >

	<h1>Welcome, <%= current_user.name %></h1>
	<div class="row">
		<div class="col-md-6">
			<p>Something Here</p>
		</div>
		<div class="col-md-4">
			<div class="row">
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<p>Posts:</p>
					<ul>
						<% @user.posts.each do |p| %>
							<li><strong><%= p.title %></strong>
								<%= link_to "View Post", post_path(p) %>
							</li>
						<% end %>
					</ul>
				</p>
			</div>
		</div>
	</div>

	<%= link_to "Update your profile!", edit_user_path, :class => 'btn btn-success'  %>
	<%= link_to "Delete your profile!", :user, method: :delete, data: { confirm: "Are you sure you want to delete your profile?" }, :class => 'btn btn-success'  %>
	</div>
</div>