
<div class="row">
	<h1 class="centered">Embarrass your friends</h1>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2 form-group">
	<%= form_for @post do |f| %>

	<%= f.file_field :image %>
	<%= f.label :comment %> <%= f.text_field :title %>
	<%= f.submit "Upload a Snoozr" :class => 'btn btn-success' %>

<% end %>

<%= link_to "All Posts", posts_path %>
</div>
</div>

