<h1>posts/show</h1>

<% if current_user %>
          <p>Added by <%= @post.user.name %></p>
<% end %>


<section>
    <%= image_tag @post.image.url, :size => "400x400", :crop => :fill %>
    <h4>Comments</h4>

    <div>
        <% @post.comments.each do |comment| %>        
            <div>
                <p> <%= comment.poster_name %> -- <%= comment.body %></p>
            </div>
        <% end %>
    </div>
</section>

<section>
    <h4>Add a new comment</h4>
        <ul>
            <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>  
            <% end %>
        </ul>    
    <%= form_for [@post, @comment] do |f| %>
        <div>
            <%= f.text_area :body%>
        </div>
        <%= f.submit "Add a comment!" %>
    <% end %>
</section>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% if current_user %>
        <%=  link_to "Edit", edit_post_path, :class => 'btn btn-custom'  %>
        <%= link_to "Delete", :post, method: :delete, data: { confirm: "Are you sure you want to delete your post?" }, :class => 'btn btn-custom'  %>
        <%= link_to "All posts", posts_path, :class => 'btn btn-custom'  %>
    <% else %>
        <%= link_to "All posts", posts_path, :class => 'btn btn-custom'  %>
    <% end %>
  </div>
</div>