

<div class="row">
    <div class="col-md-6 col-md-offset-3">
            </br>
          <p>Added by <%= @post.user.name %></p>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
    <%= image_tag @post.image.url, :size => "400x400", :crop => :fill %>
    <h4>Comments</h4>

    <!-- Shows comments from users -->
    <div>
        <% @post.comments.each do |comment| %>        
            <div>
                <p> <%= comment.poster_name %> -- <%= comment.body %></p>
            </div>
        <% end %>
    </div>

    <!-- Adding a comment  -->
    <h5>Add a new comment</h5>
        <ul>
            <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>  
            <% end %>
        </ul>    
    <%= form_for [@post, @comment] do |f| %>
        <div>
            <%= f.text_area :body%>
        </div>
        <%= f.submit "Add a comment!" %>
    <% end %>
