<!DOCTYPE html>
<html>
<head>
  <title>snoozr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- icon photo in tab -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'favicon.ico' %> 
</head>
<body>

<!-- Navigation Bar -->
<% if current_user %>
    <span>You're currently signed in as <%= current_user.name %>!</span>
    <%= link_to "Log out!", logout_path, method: :delete %>
<% else %>
    <%= link_to "Log in!", login_path %>
    <%= link_to "Sign up!", signup_path %>
<% end %>
<%= link_to "All users", users_path %>
<!-- End Navigtion Bar -->
<%= yield %>

</body>
</html>
