<!DOCTYPE html>
<html>
<head>
  <title>snoozr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- need to put favicon here! -->
</head>

<body>

  <div class="container-fluid">
    <div id="main-container" class="container">
      <%= render 'shared/navigation' %>

        <%= yield %>

    </div>
  </div>

</body>
</html>
